<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appointment List</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }

      th,
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      tr:hover {
        background-color: #f5f5f5;
      }

      /* Custom CSS */
      .button-container {
        margin-top: 20px;
        text-align: center;
      }
    </style>
</head>
<body>
<h1>Appointment List</h1>
<div>
    <p>No appointments available for this patient ID.</p>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>Appointment ID</th>
            <th>Appointment Date</th>
            <th>Appointment Time</th>
            <th>Purpose</th>
            <th>Doctor</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment : ${appointments}">
            <th th:text="${appointment.id}">Appointment ID</th>
            <th th:text="${appointment.appointmentDate}">Appointment Date</th>
            <th th:text="${appointment.timeSlot}">Appointment Time</th>
            <th th:text="${appointment.purpose}">Purpose</th>
            <th th:text="${appointment.doctorName}">Doctor</th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
