
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appointment details</title></head>
<body>
<h1>Appointment Form</h1>
<form method="post" th:object="${appointmentForm}">
    <div>
        <label for="appointmentDate">Appointment Date:</label>
        <input type="date" id="appointmentDate" name="appointmentDate" required/>
    </div>
    <div>
        <label for="timeSlot">Time Slot:</label>
        <select id="timeSlot" name="timeSlot" required>
            <option th:each="timeSlot : ${timeSlots}" th:value="${timeSlot}" th:text="${timeSlot}"></option>
        </select>
    </div>
    <div>
        <label for="patientId">Patient ID:</label>
        <input type="number" id="patientId" name="patientId" required/>
    </div>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required/>
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required/>
    </div>
    <div>
        <label for="purpose">Purpose:</label>
        <input type="text" id="purpose" name="purpose" required/>
    </div>
    <div>
        <label for="doctorName">Doctor Name:</label>
        <input type="text" id="doctorName" name="doctorName" required/>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required/>
        <div>
            <button type="submit" >Schedule Appointment</button>
        </div>
    </div>
    <div class="error-message" th:text="${error}" th:if="${error}"></div>
</form>
<script>
</script>
</body>
</html>
