<!DOCTYPE html>
<html lang="">
<head>
    <title>Reschedule Appointment</title>

</head>
<body>
<h1>Reschedule Appointment</h1>
<form method="post">

    <div>
        <label for="appointmentDate">Appointment Date:</label>
        <input
                type="date"
                id="appointmentDate"
                name="appointmentDate"
                required
        />
    </div>
    <div>
        <label for="timeSlot">Time Slot:</label>
        <select id="timeSlot" name="timeSlot" required>
            <option></option>
        </select>
    </div>

    <div>
        <button type="submit">Reschedule Appointment</button>
    </div>
</form>
</body>
</html>
